.bg {
  position: absolute;
  margin-top: 50px;
  z-index: 0;
  width: 100%;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 718px;
  background: #fff;
}

.headerBrand {
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

.icon {
  color: #6070ff;
  padding-top: 20px;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  mix-blend-mode: multiply;
}

.headline {
  color: #111;
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 200px;
}

.connect {
  display: flex;
  justify-content: left;
}

h3 {
  color: #6070ff;
}

.socials {
  margin-right: 15px;
  color: #acb7c3;
}

li {
  text-decoration: none;
  list-style-type: none;
}
